{% extends 'layouts/data_base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">NEW APPLICATIONS</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fill all the details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <form class="cmxform" method="post" action="{{url_for('publisher.add_applicant')}}">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Manual Applicant Entry</h4>
                            <p class="card-description">
                                Please fill in the following required fields.
                            </p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Job Title</label>
                                        {{form.job_title(placeholder="Job Title", class="form-control")}}
                                        {%for error in form.job_title.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Job Ref No.</label>
                                        {{form.job_reference_number(placeholder="", class="form-control")}}
                                        {%for error in form.job_reference_number.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Title</label>
                                        {{form.title(placeholder="Title", class="form-control")}}
                                        {%for error in form.title.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>First Name *</label>
                                        {{form.first_name(placeholder="First Name", class="form-control")}}
                                        {%for error in form.first_name.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Second Name *</label>
                                        {{form.second_name(placeholder="Second Name", class="form-control")}}
                                        {%for error in form.second_name.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Surname *</label>
                                        {{form.surname(placeholder="Surname", class="form-control")}}
                                        {%for error in form.surname.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Gender *</label>
                                        {{form.gender(placeholder="--Select--", class="form-control")}}
                                        {%for error in form.gender.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Home County *</label>
                                        {{form.home_county(placeholder="Home County", class="form-control")}}
                                        {%for error in form.home_county.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Year of Birth *</label>
                                        {{form.age(placeholder="1999", class="form-control")}}
                                        {%for error in form.age.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Civil Status *</label>
                                        {{form.civil_status(placeholder="Civil Status", class="form-control")}}
                                        {%for error in form.civil_status.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Nationality *</label>
                                        {{form.nationality(placeholder="Nationality", class="form-control")}}
                                        {%for error in form.nationality.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Ethnicity*</label>
                                        {{form.ethnicity(placeholder="Ethnicity", class="form-control")}}
                                        {%for error in form.ethnicity.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="form-check">
											<label class="form-check-label">
                                                {{form.disability(class="form-check-input", type="checkbox", style="")}}
												Disability *
											</label>
										</div>

                                        {%for error in form.disability.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>If YES, Nature of disability </label>
                                        {{form.disability_nature(placeholder="Nature of disability", class="form-control")}}
                                        {%for error in form.disability_nature.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>If YES, Disability Registration Details </label>
                                        {{form.disability_registration_details(placeholder="Disability registration details", class="form-control")}}
                                        {%for error in form.disability_registration_details.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Highest Level Of Education *</label>
                                        {{form.highest_level_education(placeholder="--Select--", class="form-control")}}
                                        {%for error in form.highest_level_education.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>PhD </label>
                                        {{form.phd_certificate_obtained(placeholder="PhD", class="form-control")}}
                                        {%for error in form.phd_certificate_obtained.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Masters</label>
                                        {{form.masters_certificate_obtained(placeholder="Masters", class="form-control")}}
                                        {%for error in form.masters_certificate_obtained.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Degree</label>
                                        {{form.degree_certificate_obtained(placeholder="Degree", class="form-control")}}
                                        {%for error in form.degree_certificate_obtained.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Higher Diploma </label>
                                        {{form.higher_diploma_certificate_obtained(placeholder="Higher Diploma", class="form-control")}}
                                        {%for error in form.higher_diploma_certificate_obtained.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Diploma</label>
                                        {{form.diploma_certificate_obtained(placeholder="Diploma", class="form-control")}}
                                        {%for error in form.diploma_certificate_obtained.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Relevant Certification </label>
                                        {{form.relevant_certification(placeholder="Relevant Certification", class="form-control")}}
                                        {%for error in form.relevant_certification.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Registration </label>
                                        {{form.registration(placeholder="Registration To A Professional Body", class="form-control")}}
                                        {%for error in form.registration.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Total work experience *</label>
                                        {{form.total_work_experience(placeholder="Total work experience", class="form-control", type="number")}}
                                        {%for error in form.total_work_experience.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Relevant work experience *</label>
                                        {{form.relevant_work_experience(placeholder="Relevant work experience", class="form-control", type="number")}}
                                        {%for error in form.relevant_work_experience.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Mode of Application </label>
                                        {{form.mode_of_application(placeholder="Mode of Application", class="form-control")}}
                                        {%for error in form.mode_of_application.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
{% block scripts%}
    <script>
            $(function() {
      'use strict';

      if($('#datePicker').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });

        $('#datePicker').datepicker('setDate', '');
      }
    });
    </script>
{%  endblock %}