<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Careers' Portal - Kenyatta University Teaching, Referral & Research Hospital | Login</title>
    <!-- core:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/core/core.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/feather-font/css/iconfont.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
</head>

<body>
<div class="main-wrapper">
    <div class="page-wrapper full-page">
        {% block header %}
        <nav class="navbar" style="width: 100%; left: 0;">
{#            #}
            <div class="navbar-content">
                <ul class="navbar-nav" style="margin-right: auto">
                    <li class="nav-item"><h5 style="padding-bottom: 0px;color: #007bff; text-align: center">
                Welcome To Kenyatta University Teaching, Referral & Research Hospital Careers Portal
                </h5>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="https://kutrrh.go.ke/" id="languageDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
{#                            <span class="font-weight-medium ml-1 mr-1">Go Back To Site</span>#}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endblock header %}

        {% block home_content %}

        {% endblock home_content %}

        {% block footer %}

        {% endblock footer %}
        <!-- core:js -->
        <script src="{{ url_for('static', filename='vendors/core/core.js') }}"></script>
        <!-- endinject -->
        <!-- plugin js for this page -->
        <!-- end plugin js for this page -->
        <!-- inject:js -->
        <script src="{{ url_for('static', filename='vendors/feather-icons/feather.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/template.js') }}"></script>

        {{ moment.include_moment() }} {{ moment.lang(g.locale) }}
        <!-- endinject -->
        <!-- custom js for this page -->
        {% block scripts %}
        {% endblock %}
        <!-- end custom js for this page -->
    </div>
</div>
</body>
</html>
