{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
<style>

</style>
{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP FOUR</a></li>
        <li class="breadcrumb-item"><a href="#">Employment History</a></li>
        <li class="breadcrumb-item active" aria-current="page">Year by Year</li>
    </ol>
</nav>
<form class="cmxform" method="post" action="{{url_for('applicant.employment_history_by_details')}}">
                    {{form.hidden_tag()}}
    <div class="row" id="hist">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">YOUR EMPLOYMENT HISTORY INFORMATION</h4>
                    <p class="card-title" style="color: #0279fa;">please fill <span style="color: #da1960;">N/A</span> on the fields in the first row if you are currently unemployed.</p>
                    <p class="card-description">
                        From current going backwards.
                    </p>

                    <div class="row">
                        <div class="col-sm-12">
                            <div data-toggle="fieldset" id="phone-fieldset"  style="width: 100%;">
                                <div id="items-table">
                                {% for product in form.employment_history %}
                                    <div data-toggle="fieldset-entry" id="fe" class="row uno">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Year From *</label>
                                                {{product.year_from(placeholder="e.g 2016", class="form-control")}}

                                                {%for error in product.year_from.errors%}
                                                <span class="text-danger">Not a valid Year</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Year To *</label>
                                                {{product.year_to(placeholder="e.g 2018", class="form-control")}}

                                                {%for error in product.year_to.errors%}
                                                <span class="text-danger">Not a Valid Year</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Name of Institution *</label>
                                                {{product.name_of_institution(placeholder="Name of Institution", class="form-control")}}
                                                {%for error in product.name_of_institution.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Designation *</label>
                                                {{product.designation(placeholder="Position", class="form-control")}}
                                                {%for error in product.designation.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label>Gross Salary * </label>
                                                {{product.gross_salary(placeholder="(Format 00, 000)", class="form-control gs")}}
                                                {%for error in product.gross_salary.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="far" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldset"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
{%endblock%}
{% block scripts %}
  {{ super() }}
    <script src="{{ url_for("static", filename="js/dibro.js") }}"></script>
    <script src="{{ url_for('static', filename='vendors/inputmask/jquery.inputmask.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
    <script src="{{ url_for("static", filename="js/biwiz.js") }}"></script>
{% endblock %}
