<div class="dropdown-menu" aria-labelledby="notificationDropdown">
    <div class="dropdown-header d-flex align-items-center justify-content-between">
        <p class="mb-0 font-weight-medium">New Notifications</p>
        <a href="javascript:;" class="text-muted">Clear all</a>
    </div>
    <div class="dropdown-body">
         {% for item in notifications %}
        <a href="{{url_for('applicant.view_applications')}}" class="dropdown-item">
            <div class="icon">
                <i data-feather="user-plus"></i>
            </div>
            <div class="content">
                <p>New notification</p>
                <p class="sub-text text-muted">2 sec ago</p>
            </div>
        </a>
        {% else %}
        <a href="javascript:;" class="dropdown-item">
            <div class="icon">
                <i data-feather="user-plus"></i>
            </div>
            <div class="content">
                <p>No new notification</p>
                <p class="sub-text text-muted">2 sec ago</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>



