{% extends 'layouts/base.html' %}
 {% block custom_head_tags %}
 {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-xl-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">My Applications</h6>
                    <p class="card-title">click on an application to edit</p>
                    <div class="dropdown mb-2">
                        <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">View</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">Edit</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">Delete</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">Print</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download"
                                                                                           class="icon-sm mr-2"></i>
                                <span class="">Download</span></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th class="pt-0">#</th>
                            <th class="pt-0">Job Reference ID</th>
                            <th class="pt-0">Job Name</th>
                            <th class="pt-0">Application Deadline</th>
                            <th class="pt-0">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for application in my_applications %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td><a href="{%if application.status == 'pending'%}{{ url_for('applicant.start_edit_application', id=application.listing.id)}}{% else %}#{%endif%}">{{application.listing.job_reference_number}}</a>
                            </td>
                            <td><a href="{{ url_for('applicant.start_edit_application', id=application.listing.id)}}">{{application.listing.job_title}}</a>
                            </td>
                            <td>{{ "{:%d/%m/%Y}".format(application.listing.availability_to) }}</td>
                            <td>
                                {%if application.status == 'pending'%}<span class="badge badge-primary">Incomplete (Upload Documents)</span>
                                {%elif application.status == 'applied'%}<span class="badge badge-info-muted">Submitted</span>
                                {%elif application.status == 'accepted'%}<span class="badge badge-success">Accepted</span>
                                {%elif application.status == 'cancelled'%}<span class="badge badge-danger">Cancelled</span>{%endif%}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                         <td>No Applications made</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> <!-- row -->

{% endblock%}
