{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP TWO</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact Information</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Personal Details</h4>
                <p class="card-description">
                    Please fill in the following required fields.
                </p>
                <form class="cmxform" method="post" action="{{url_for('applicant.contact_info')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email *</label>
                                {{form.email(placeholder="Email", class="form-control")}}
                                {%for error in form.email.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Postal Address *</label>
                                {{form.address(placeholder="Address", class="form-control")}}
                                {%for error in form.address.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number *</label>
                                {{form.phone_number_personal(placeholder="+254722100100", class="form-control pn")}}
                                {%for error in form.phone_number_personal.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Alternate Phone Number</label>
                                {{form.phone_number_alternate(placeholder="Alternate Phone Number", class="form-control pn")}}
                                {%for error in form.phone_number_alternate.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>County of Residence*</label>
                                {{form.county(placeholder="County", class="form-control")}}
                                {%for error in form.county.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendors/inputmask/jquery.inputmask.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
<script>
    var selector = document.getElementsByClassName("pn");

    var im = new Inputmask("+254999999999");
    im.mask(selector);
</script>
{%endblock%}