{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
<style>

</style>
{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP FOUR</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employment Details</li>
    </ol>
</nav>
<form class="cmxform" method="post" action="{{url_for('applicant.employment_history')}}">
                    {{form2.hidden_tag()}}

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: #0279fa;">Applicants in the Public Service only</h4>
                    <p class="card-description">
                        Please fill in the following fields if you are in the public service.
                    </p>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ministry/State Department/County</label>
                                    {{form2.ministry(placeholder="Ministry/State Department/County", class="form-control")}}
                                    {%for error in form2.ministry.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Station</label>
                                    {{form2.station(placeholder="Station", class="form-control")}}
                                    {%for error in form2.station.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Personal/Employment Number</label>
                                    {{form2.personal_employment_no(placeholder="Personal/Employment Number", class="form-control")}}
                                    {%for error in form2.personal_employment_no.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Present Substantive Post</label>
                                    {{form2.present_substantive_post(placeholder="Present Substantive Post", class="form-control")}}
                                    {%for error in form2.present_substantive_post.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Job Group/Scale/Grade</label>
                                    {{form2.job_group(placeholder="Job Group/Scale/Grade", class="form-control")}}
                                    {%for error in form2.job_group.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Date of Current Appointment</label>
                                    <div class="input-group date datepicker" id="datePicker"
                                        style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                            {{form2.date_of_current_appointment(class="form-control")}}
                                            <span class="input-group-addon"><i
                                                    data-feather="calendar"></i></span>
                                            {%for error in form2.date_of_current_appointment.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Terms of Service</label>
                                    {{form2.terms_of_service(placeholder="Terms of Service", class="form-control")}}
                                    {%for error in form2.terms_of_service.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>If Other, Please, specify</label>
                                    {{form2.if_other(placeholder="If Other, Please specify", class="form-control")}}
                                    {%for error in form2.if_other.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: #0279fa;">Applicants not in public service</h4>
                    <p class="card-description">
                        If not in Public Service, Please fill in the following fields. Write N/A if not applicable to you.
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Current Employer (Where applicable)</label>
                                {{form2.current_employer(placeholder="Current Employer (Where applicable)", class="form-control")}}
                                {%for error in form2.current_employer.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Position Held</label>
                                {{form2.position_held(placeholder="Position Held", class="form-control")}}
                                {%for error in form2.position_held.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Date of Appointment</label>
                                <div class="input-group date datepicker" id="datePicker2"
                                    style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                        {{form2.effective_date(class="form-control")}}
                                        <span class="input-group-addon"><i
                                                data-feather="calendar"></i></span>
                                        {%for error in form2.effective_date.errors%}
                                        <span class="text-danger">{{error}}</span>
                                        {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Gross Salary</label>
                                {{form2.gross_salary(placeholder="Gross Salary", class="form-control")}}
                                {%for error in form2.gross_salary.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form2.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}
{% block scripts %}
  {{ super() }}
    <script src="{{ url_for("static", filename="js/dibro.js") }}"></script>
    <script>
        $(function() {
          'use strict';

          if($('#datePicker').length) {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            $('#datePicker').datepicker({
              format: "dd/mm/yyyy",
              todayHighlight: true,
              autoclose: true
            });
            $('#datePicker').datepicker('setDate', today);
          }
          if($('#datePicker2').length) {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            $('#datePicker2').datepicker({
              format: "dd/mm/yyyy",
              todayHighlight: true,
              autoclose: true
            });
            $('#datePicker2').datepicker('setDate', today);
          }
        });
    </script>
{% endblock %}
