{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP FIVE</a></li>
        <li class="breadcrumb-item active" aria-current="page">Family Details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Next of Kin Data</h4>
                <p class="card-description">
                    Please fill in the following required fields with next of kin or a family member.
                </p>
                <form class="cmxform" method="post" action="{{url_for('applicant.family_details')}}">
                    {{form.hidden_tag()}}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Full Name *</label>
                                {{form.name(placeholder="Name", class="form-control")}}
                                {%for error in form.name.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Gender *</label>
                                {{form.gender(placeholder="Gender", class="form-control")}}
                                {%for error in form.gender.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Relationship *</label>
                                {{form.relationship(placeholder="Relationship", class="form-control")}}
                                {%for error in form.relationship.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Date of Birth *</label>
                                <div class="input-group date datepicker" id="datePicker"
                                style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                    {{form.dob(class="form-control")}}
                                    <span class="input-group-addon"><i
                                            data-feather="calendar"></i></span>
                                    {%for error in form.dob.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number * (+254 format)</label>
                                {{form.phone_number(placeholder="Phone Number", class="form-control pn")}}
                                {%for error in form.phone_number.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                </div>

                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendors/inputmask/jquery.inputmask.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
<script>
    $(function() {
      'use strict';

      if($('#datePicker').length) {
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        $('#datePicker').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true,
          autoclose: true
        });
        $('#datePicker').datepicker('setDate', {% if this_family.dob %}'{{this_family.dob.strftime('%d/%m/%Y')}}'{% else %} '' {% endif %});
      }
    });

</script>
<script>
    var selector = document.getElementsByClassName("pn");

    var im = new Inputmask("+254999999999");
    im.mask(selector);
</script>
{%endblock%}
