{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
    {{ super() }}
    <!-- CORE CSS-->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    {{ super() }}
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons/buttons.dataTables.min.css') }}">
    <!-- end plugin css for this page -->
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('admin.applications') }}">Applications</a></li>
                <li class="breadcrumb-item active" aria-current="page">VIEW APPLICATIONS</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                        <h6 class="card-title mb-0">All Applications</h6>
                        <div class="dropdown mb-2">
                            <button class="btn p-0" type="button" id="dropdownMenuButton7" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton7">
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="eye"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">View</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="edit-2"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Edit</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="trash"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Delete</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="printer"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Print</span></a>
                                <a class="dropdown-item d-flex align-items-center" href="#"><i data-feather="download"
                                                                                               class="icon-sm mr-2"></i>
                                    <span class="">Download</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th class="pt-0">#</th>
                                <th class="pt-0">Applicant Name</th>
                                <th class="pt-0">Job Ref. No.</th>
                                <th class="pt-0">Job Title</th>
                                <th class="pt-0">Application Date</th>
                                <th class="pt-0">Gender</th>
                                <th class="pt-0">ID Number</th>
                                <th class="pt-0">Home County</th>
                                <th class="pt-0">Ethnicity</th>
                                <th class="pt-0">Nationality</th>
                                <th class="pt-0">Date of Birth</th>
                                <th class="pt-0">Phone Number</th>
                                <th class="pt-0">Email</th>
                                <th class="pt-0">Address</th>
                                <th class="pt-0">Alternative Contact</th>
                                <th class="pt-0">Disability</th>
                                <th class="pt-0">Disability Details</th>
                                <th class="pt-0">Highest Level Of Education</th>
                                <th class="pt-0">Education Details</th>
                                <th class="pt-0">Relevant Course or Certification</th>
                                <th class="pt-0">Registration to Professional Bodies</th>
                                <th class="pt-0">Summary</th>
                                <th class="pt-0">Total Work Experience</th>
                                <th class="pt-0">Relevant Work Experience</th>
                                <th class="pt-0">Status</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for application in applications %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a {% if application.status == 'pending' %}data-toggle="tooltip"
                                           data-placement="top"
                                           title="Incomplete Application"{% endif %}
                                           href="{% if application.status == 'pending' %}#{% else %}
{{ url_for('admin.view_application', id=application.id) }}{% endif %}">{{ application.user.full_name() }}</a></td>
                                    <td><a href="#">{{ application.listing.job_reference_number }}</a>
                                    </td>
                                    <td><a href="#">{{ application.listing.job_title }}</a>
                                    </td>
                                    <td>
                                        {{ moment(application.get_time()).format('MMMM Do YYYY, h:mm:ss a') }}
                                    </td>
                                    <td>{{ application.user.gender }}</td>
                                    <td>{{ application.user.id_number }}</td>
                                    <td>{{ application.user.home_county }}</td>
                                    <td>{{ application.user.ethnicity }}</td>
                                    <td>{{ application.user.nationality }}</td>
                                    <td>{{ moment(application.user.dob).format('YYYY') }}</td>
                                    <td>{{ application.user.phone_number_personal }}</td>
                                    <td>{{ application.user.email }}</td>
                                    <td>{{ application.user.address }}</td>
                                    {% set user_id = application.user.id %}
                                    {% set fam = family.query.filter_by(user_id=user_id).first() %}
                                    <td>{{ fam.phone_number }}</td>
                                    <td>{% if application.user.disability %}{{ application.user.disability }}{% else %}
                                        None{% endif %}</td>
                                    <td>{% if application.user.disability_nature %}
                                        {{ application.user.disability_nature }}{% else %}None{% endif %}</td>
                                    {% set ed = education_details.query.filter_by(user_id=user_id).all() %}
                                    <td>{{ application.user.highest_level_education }}</td>
                                    <td>
                                        <ul style="list-style: none;padding-bottom: 0;margin-bottom: 0;">
                                            {% for edu_dets in ed %}
                                                <li>{{ edu_dets.certificate_obtained }}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    </td>
                                    {% set prof = p.query.filter_by(user_id=user_id).first() %}
                                    <td>{{ prof.name_of_certification }}</td>
                                    {% set mem = m.query.filter_by(user_id=user_id).first() %}
                                    <td>{{ mem.name_of_membership }}</td>
                                    {% if employment %}
                                        {% set emporiums = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.desc()).all() %}
                                        {% set empLast = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.desc()).first() %}
                                        {% set emp = employment.query.filter_by(user_id=user_id).order_by(employment.createdAt.asc()).first() %}
                                        {% if emporiums %}
                                            {% set summary = emporiums %}
                                        {% else %}
                                            {% set summary = 'None' %}
                                        {% endif %}
                                        {% if emp %}
                                            {% set from = emp.year_from | int %}
                                        {% else %}
                                            {% set from = 2020 %}
                                        {% endif %}
                                        {% if empLast %}
                                            {% set to = empLast.year_to | int %}
                                        {% else %}
                                            {% set to = 2020 %}
                                        {% endif %}
                                        {% set duration = to - from %}
                                        {% set total_work_experience = duration %}
                                        <td>
                                            <ul style="list-style: none;padding-bottom: 0;margin-bottom: 0;">
                                                {% if summary != 'None' %}
                                                    {% for summ in summary %}
                                                        {% set start =  summ.year_from | int %}
                                                        {% set end =  summ.year_to | int %}
                                                        {% set total_years = end - start %}
                                                        <li>{{ summ.year_from }} - {{ summ.year_to }} ({{ total_years }})</li>
                                                        {% if not loop.last %}<br>{% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <li>0 (0)</li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                        <td>{{ total_work_experience|abs }}</td>
                                    {% else %}
                                        <td>0</td>
                                    {% endif %}
                                    {% set edu = education_documents.query.filter_by(user_id=user_id)
                                      .filter_by(application_id=application.id).first() %}
                                    <td>{{ edu.years_of_experience }}</td>
                                    <td>
                                        {% if application.status == 'pending' %}
                                            <span class="badge badge-warning">Incomplete</span>
                                        {% elif application.status == 'accepted' %}
                                            <span class="badge badge-success">Accepted</span>
                                        {% elif application.status == 'cancelled' %}
                                            <span class="badge badge-danger">Cancelled</span>
                                        {% elif application.status == 'applied' %}
                                            <span class="badge badge-success">Submitted</span>
                                        {% endif %}
                                    </td><!-- Dropdown Trigger -->
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <!-- plugin js for this page -->
    <script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons/buttons.html5.min.js') }}"></script>
    <!-- end plugin js for this page -->

    <script>

        $(function () {
            'use strict';

            $(function () {
                $('#dataTable').DataTable({
                    "aLengthMenu": [
                        [10, 30, 50, -1],
                        [10, 30, 50, "All"]
                    ],
                    "iDisplayLength": 10,
                    "language": {
                        search: ""
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        {
                            extend: 'excel',
                            messageTop: 'All The Applications.'
                        },
                    ]
                });
                $('#dataTable').each(function () {
                    var datatable = $(this);
                    // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.removeClass('form-control-sm');
                    // LENGTH - Inline-Form control
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.removeClass('form-control-sm');
                });
            });

        });
    </script>
    <script>
        $(function () {
            'use strict';

            if ($('#datePickerExample').length) {
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#datePickerExample').datepicker({
                    format: "dd/mm/yyyy",
                    todayHighlight: true,
                    autoclose: true
                });
                // var ub = new Date('{{user_dob}}');
                $('#datePickerExample').datepicker('setDate', today)
            }
        });
    </script>
{% endblock %}
