{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}

{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('admin.job_listings')}}">Jobs</a></li>
            <li class="breadcrumb-item active" aria-current="page">ALL USERS</li>
        </ol>
    </nav>

</div>
<div class="row">
    <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-4">All Job Listings</h6>
                </div>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover mb-0">
                        <thead>
                            <tr>
                              <th class="pt-0">#</th>
                              <th class="pt-0">First Name</th>
                              <th class="pt-0">Last Name</th>
                              <th class="pt-0">Email</th>
                              <th class="pt-0">Role</th>
                              <th class="pt-0">Created At</th>
                            </tr>
                        </thead>
                          <tbody>
                          {% for user in users %}
                            <tr onclick="window.location.href = '{{ url_for('admin.user_info', user_id=user.id) }}';" style="cursor: pointer">
                              <td>{{ loop.index }}</td>
                              <td>{{user.first_name}}</td>
                              <td>{{user.surname}}</td>
                              <td>{{user.email}}</td>
                              <td class="user role">{{user.role.name}}</td>
                              <td>{{ moment(user.createdAt).format('MMMM Do YYYY, h:mm:ss a') }}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
<!-- plugin js for this page -->
    <script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<script>

    $(function () {
        'use strict';

        $(function () {
            $('#dataTable').DataTable({
                "aLengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: ""
                },
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                    {
                        extend: 'excel',
                        messageTop: 'All The Applications.'
                    },
                ]
            });
            $('#dataTable').each(function () {
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Search');
                search_input.removeClass('form-control-sm');
                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.removeClass('form-control-sm');
            });
        });

    });
</script>
<script>
    $(function () {
        'use strict';

        if ($('#datePickerExample').length) {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
            $('#datePickerExample').datepicker({
                format: "dd/mm/yyyy",
                todayHighlight: true,
                autoclose: true
            });
            // var ub = new Date('{{user_dob}}');
            $('#datePickerExample').datepicker('setDate', today)
        }
    });
</script>
{% endblock %}