{# This macro is called for the sidebar. #}
{% macro render_menu_items(endpoints) %}
  {% for endpoint, name, icon, state, id in endpoints %}
    <li id="{{ endpoint }}" class="nav-item {% if request.endpoint == endpoint %}active{% endif %}">
      <a href="{{ url_for(endpoint) }}" class="nav-link">
        {% if icon %}<i class="link-icon" data-feather="{{ icon }}"></i> {% endif %}
        <span class="link-title">{{ name | safe }}</span>
        {% if state %}<i id='{{id}}' class="mdi {{ state }}"></i>{% endif %}
      </a>
    </li>
  {% endfor %}
{% endmacro %}
{% macro account_items(current_user) %}
  {% if current_user.is_authenticated %}
    {% set endpoints = [
      ('account.manage', 'Account', '', '', ''),
      ('account.logout', 'Log out', '', '', '')
    ] %}
      {{ render_menu_items(endpoints) }}
  {% else %}
    {% set endpoints = [
      ('account.register', 'Register', '', '', ''),
      ('account.index', 'Log In', '', '', '')
    ] %}
      {{ render_menu_items(endpoints) }}
  {% endif %}
{% endmacro %}

{% macro header_items(current_user, dropdown) %}
  {% if current_user.is_authenticated and current_user.role.index == 'admin' %}
    {% set endpoints = [
      ('admin.job_listings', 'All Jobs', 'clipboard', '', ''),
      ('admin.applicants', 'All Applicants', 'users', '', ''),
      ('admin.applications', 'Applications', 'file-text', '', ''),
      ('admin.disclaimer', 'Disclaimer', 'volume-1', '', ''),
      ('admin.registered_users', 'Registered Users', 'users', '', ''),
      ('admin.new_user', 'Add Users', 'user', '', ''),
      ('admin.invite_user', 'Invite Users', 'user', '', ''),
      ('account.logout', 'Logout', 'log-out', '', '')
    ]%}
  {% elif current_user.is_authenticated and current_user.role.index == 'publisher'%}
    {% set endpoints = [
      ('publisher.applications', 'All Applicants', 'users', '', ''),
      ('publisher.add_applicant', 'New Application', 'file-plus', '', ''),
      ('account.logout', 'Logout', 'log-out', '', '')
    ]%}
  {% elif current_user.is_authenticated and current_user.role.index == 'applicant'%}
    {% set endpoints = [
      ('applicant.new_application', 'Apply Now', 'file-plus', '', 'new_application'),
      ('applicant.view_applications', 'My Applications', 'file-text', '', 'view_applications'),
      ('applicant.personal_history', 'Personal Info', 'user-plus', 'mdi-checkbox-blank-outline', 'personal_history'),
      ('applicant.contact_info', 'Contact Info', 'phone-call', 'mdi-checkbox-blank-outline', 'contact_info'),
      ('applicant.education_info', 'Education Info', 'award', 'mdi-checkbox-blank-outline', 'education_info'),
      ('applicant.employment_history', 'Employment Details', 'linkedin', 'mdi-checkbox-blank-outline', 'employment_history'),
      ('applicant.employment_history_by_details', 'Employment History', 'more-horizontal', 'mdi-checkbox-blank-outline', 'employment_history_by_details'),
      ('applicant.family_details', 'Family Details', 'slack', 'mdi-checkbox-blank-outline', 'family_details'),
      ('applicant.reference_details', 'Referees', 'pen-tool', 'mdi-checkbox-blank-outline', 'reference_details'),
      ('applicant.profile', 'Profile & Summary', 'user', '', 'profile'),
      ('applicant.settings', 'Settings', 'settings', '', 'settings')
    ]%}
  {% endif %}
  {% set user = [] %}
  {% if current_user.is_authenticated %}
    {% set user = ([(current_user.role.index + '.dashboard', current_user.role.name + ' Dashboard', 'grid', '', '')]) %}
  {% endif %}
  {{ render_menu_items(user + endpoints) }}
{% endmacro %}
{% macro create_dropdown(dropdown, icon) %}
  {% for item in dropdown %}
    {% if item | length == 3 %}
      {{ render_menu_items([item]) }}
    {% elif item | length == 4 %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#uiComponents" role="button" aria-expanded="false" aria-controls="uiComponents">
          <i class="link-icon" data-feather="{{ item[2]}}"></i>
          <span class="link-title">{{ item[0] }}</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="uiComponents">
          <ul class="nav sub-menu">
           {{ create_dropdown(item[1]) }}
          </ul>
        </div>
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}
{% macro render_sidebar(current_user, dropdown=[]) %}
  <nav class="sidebar">
    <div class="sidebar-header">
      <a href="#" style="font-size: 18px;" class="sidebar-brand">
        KUTRRH.<span>Careers</span>
      </a>
      <div class="sidebar-toggler not-active">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="sidebar-body">
      <ul class="nav">
        <li class="nav-item nav-category">Main</li>
        {{ header_items(current_user) }} {{ create_dropdown(dropdown) }}
      </ul>
    </div>
  </nav>
{% endmacro %}
